.content {
   background: var(--buttonsBackground);
}
.content .row {
    max-width: 100%;
    width: 92%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    background: var(--heroBackground);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    background: var(--heroBackground);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.content a {
    background: var(--heroBackground);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--herosubTexts);
    padding: 10px 20px;
    border-radius: 8px;
}
.imgContainer img {
    max-width: 704px;
}



@media (min-width: 992px) and (max-width: 1199px) {
    .content h2 {
        font-size: 42px;
        line-height: 52px;
    }
    .content p {
        font-size: 18px;
        line-height: 35px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .row {
        text-align: center;
    }
    .imgContainer img {
        max-width: 70%;
        margin: -30px auto 40px;
    }
    .content h2 {
        font-size: 42px;
        line-height: 52px;
    }
    .content p {
        font-size: 18px;
        line-height: 35px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .row {
        text-align: center;
    }
    .imgContainer img {
        max-width: 90%;
        margin: -30px auto 40px;
    }
    .content h2 {
        font-size: 36px;
        line-height: 45px;
    }
    .content p {
        font-size: 16px;
        line-height: 31px;
    }
}
@media (max-width: 576px) {
    .row {
        text-align: center;
    }
    .imgContainer img {
        max-width: 100%;
        margin: -40px auto 40px;
    }
    .content h2 {
        font-size: 36px;
        line-height: 45px;
    }
    .content p {
        font-size: 16px;
        line-height: 31px;
    }
}