*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #ffffff;
  --linkBackground: #EAECF0;
  --iconsBorder: #d0d5dd;
  --text: #101828;
  --footer: #667085;
  --label: #344054;
  --contactH2: #101828;
  --colorP: #475467
}

/* Home page */
main {
  background-color: var(--backgroundColor);
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
}
#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
img {
  cursor: pointer;
}
button {
  outline: none;
  border: none;
}
.icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed var(--iconsBorder);
  position: absolute;
  top: 5%;
  right: 30%;
  cursor: pointer;
}
.icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons img:last-child {
  display: none;
}
#twitter, #slack {
  color: var(--text);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 32px;
  margin-top: 20px;
}
#slack {
  display: none;
}


.links-container {
  margin-top: 40px;
}
a {
  display: block;
  text-decoration: none;
  color: var(--text);
  background-color: var(--linkBackground);
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 28px;
  margin: 20px auto;
  width: 1152px;
  padding: 24px 32px;
  border-radius: 8px;
  border: 1px solid var(--linkBackground);
  cursor: pointer;
}
a:hover {
  color: var(--footer) !important;
}
.footer-icons {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.footer-icons img {
  margin-right: 20px;
}

footer {
  margin: 50px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--footer);
}
hr {
  width: 1152px;
  margin: auto;
  height: 1px;
  background-color: var(--footer);
  margin-bottom: 20px;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1152px;
  margin: auto;
}


/* Contact page */
.contact {
  max-width: 100%;
  width: 70%;
  margin: auto;
}
.contact h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--contactH2);
}
.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--colorP);
}
.contact label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--label);
}
input::placeholder {
  color: var(--footer);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.form-check-label {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--colorP) !important;
}
#btn__submit {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  a, hr, footer div {
    width: 85vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  a, hr, footer div {
    width: 85vw;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  a, hr, footer div {
    width: 85vw;
  }
  footer div {
    flex-direction: column;
    align-items: flex-start;
  }
  footer div p {
    margin: 20px 0;
  }
  footer img {
    max-width: 150px;
    width: 100%;
  }
  .contact {
    width: 90%;
  }
}
@media (max-width: 575px) {
  a, hr, footer div {
    width: 90vw;
  }
  .icons {
    right: 10%;
  }
  .icons img:first-of-type {
    display: none;
  }
  .icons img:last-child {
    display: block;
  }
  .contact {
    width: 90%;
  }
  footer div {
    flex-direction: column;
    align-items: flex-start;
  }
  footer div p {
    margin: 15px 0;
  }
  footer img {
    max-width: 140px;
    width: 100%;
  }
}

