*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #ffffff;
  --linkBackground: #EAECF0;
  --iconsBorder: #d0d5dd;
  --text: #101828;
}

main {
  background-color: var(--backgroundColor);
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
}
img {
  cursor: pointer;
}
button {
  outline: none;
  border: none;
}
.icons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px dashed var(--iconsBorder);
  position: absolute;
  top: 5%;
  right: 30%;
  cursor: pointer;
}
.icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icons img:last-child {
  display: none;
}
p {
  color: var(--text);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 32px;
  margin-top: 20px;
}
p:nth-of-type(2) {
  display: none;
}


.links-container {
  margin-top: 40px;
}
a {
  display: block;
  text-decoration: none;
  color: var(--text);
  background-color: var(--linkBackground);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin: 20px auto;
  width: 1152px;
  padding: 24px 32px;
  border-radius: 8px;
  border: 1px solid var(--linkBackground);
  cursor: pointer;
}


@media (min-width: 992px) and (max-width: 1199px) {
  a {
    width: 85vw;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  a {
    width: 85vw;
  }
}
@media (max-width: 575px) {
  a {
    width: 90vw;
  }
  .icons {
    right: 10%;
  }
  .icons img:first-of-type {
    display: none;
  }
  .icons img:last-child {
    display: block;
  }
}

