*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #ffffff;
  --linkBackground: #EAECF0;
  --text: #101828;
}

main {
  background-color: var(--backgroundColor);
  text-align: center;
}