*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --backgroundColor: #FFFFFF;
    --heroBackground: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    --heroTexts: #434343;
    --herosubTexts: #A02279;
    --buttonsBackground: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    --placeholderText:  #B8B8B8;
    --adventureHeader: #000000;
    --footer: #1D1D1E;
    --footerText: #F1F3F9;
    --fontFamily: 'Red Rose', cursive;
}     
body {
    font-family: var(--fontFamily);
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    cursor: pointer;
    width: 100%;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}


/* Header-section */
.head {
    background: var(--heroBackground);
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 90%;
    margin: auto;
    position: relative;
}
.fixed-nav {
    background: var(--footer);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.fixed-nav .head {
    background: var(--footer);
}
.fixed-nav a {
    color: var(--backgroundColor);
}
.img-logo {
    max-width: 200px;
}
.logo {
    margin-right: 10%;
}
nav ul {
    display: flex;
    align-items: center;
}
header a {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--heroTexts);
    display: inline-block;
    margin-right: 30px;
}
.activeLink {
    border-bottom: 3px solid #A02279;
}
header a:hover {
    color: var(--placeholderText);
}
header button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    background: var(--buttonsBackground);
    border-radius: 10px;
    color: var(--backgroundColor);
    position: absolute;
    right: 0px;
    top: 20px;
}


/* Footer section */
footer {
    background: var(--footer);
}
footer article {
    max-width: 100%;
    width: 90%;
    margin: auto;
    padding: 50px 0px 30px;
    justify-content: space-between;
}
footer article > div {
    display: flex;
    flex-direction: column;
}
footer h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--backgroundColor);
}
footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--footerText);
}
footer a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: var(--footerText);
}
footer a:hover {
    color: var(--placeholderText);
}


/* Coming-soon section */
.soon {
    margin: 100px auto;
    max-width: 100%;
    width: 90%;
    text-align: center;
}
.soon h2 {
    font-weight: 400;
    font-size: 56px;
    line-height: 78px;
    letter-spacing: -0.02em;
    color: var(--heroTexts);
    animation: bounce 3s infinite;
    margin-bottom: 100px;
}
.soon span {
    color: var(--herosubTexts);
}
.soon a {
    background: var(--buttonsBackground);
    color: var(--backgroundColor);
    padding: 10px 20px;
    border-radius: 10px;
}


@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}



@media (min-width: 992px) and (max-width: 1199px) {
    .img-logo {
        max-width: 170px;
    }
    .logo {
        margin-right: 7%;
    }
    header a {
        margin-right: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .img-logo {
        max-width: 140px;
    }
    .logo {
        margin-right: 0px;
    }
    header a {
        margin-right: 15px;
    }
}
@media (max-width: 767px) {
    .head {
        padding: 15px 0;
    }
    nav {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        max-width: 350px;
        width: 100%;
        height: 100%;
        background-color: var(--adventureHeader);
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 60px;
        margin-left: -33px;
    }
    header a {
        color: var(--backgroundColor);
        margin: 0px 0px 20px;
        padding-left: 40px;
    }
    header button {
        position: static;
        margin-left: 40px;
    }
    .active nav {
        transform: translateX(0);
        transition: 0.5s ease-out;
    }
    .activeLink {
        border-left: 5px solid #A02279;
        border-bottom: none;
    }


    /* Hamburger Menu */
    .hamburger-menu {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 17px;
        right: 0;
        cursor: pointer;
        z-index: 12;
    }
    .hamburger-menu .bar {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: var(--herosubTexts);
        border-radius: 5px;
        transition: 0.7s;
    }
    .bar::after, .bar::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--herosubTexts);
        border-radius: 5px;
    }
    .bar::before {
        transform: translateY(-8px);
    }
    .bar::after {
        transform: translateY(8px);
    }
    .active .hamburger-menu .bar {
        background-color: transparent;
    }
    .active .bar::before {
        transform: translateY(0) rotate(-45deg);
    }
    .active .bar::after {
        transform: translateY(0) rotate(45deg);
    }


    /* Overlay */ 
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        background-color: var(--footer);
        z-index: 5;
    }
    .active .overlay {
        pointer-events: all;
        opacity: 0.7;
    }


    /* Coming soon */
    .soon h2 {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 575px) {
    .img-logo {
        max-width: 170px;
    }
    .hamburger-menu {
        top: 17px;
        right: 0;
    }
}