*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --backgroundColor: #FFFFFF;
    --heroBackground: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    --heroTexts: #434343;
    --herosubTexts: #A02279;
    --buttonsBackground: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    --placeholderText:  #B8B8B8;
    --adventureHeader: #000000;
    --footer: #1D1D1E;
    --fontFamily: 'Red Rose', cursive;
}     
body {
    font-family: var(--fontFamily);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    cursor: pointer;
    width: 100%;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}


/* Header-section */
.head {
    background: var(--heroBackground);
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 90%;
    margin: auto;
    position: relative;
}
.fixed-nav {
    background: var(--footer);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.fixed-nav .head {
    background: var(--footer);
}
.fixed-nav a {
    color: var(--backgroundColor);
}
header img {
    max-width: 200px;
}
.logo {
    margin-right: 10%;
}
header a {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--heroTexts);
    display: inline-block;
    margin-right: 30px;
}
.activeLink {
    border-bottom: 3px solid #A02279;
}
header a:hover {
    color: var(--placeholderText);
}
header button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    background: var(--buttonsBackground);
    border-radius: 10px;
    color: var(--backgroundColor);
    position: absolute;
    right: 0px;
    top: 20px;
}





@media (min-width: 992px) and (max-width: 1199px) {
    header img {
        max-width: 170px;
    }
    .logo {
        margin-right: 7%;
    }
    header a {
        margin-right: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    header img {
        max-width: 140px;
    }
    .logo {
        margin-right: 0px;
    }
    header a {
        margin-right: 15px;
    }
}